/*Les plus polulaires*/

.popular-list{
    background-color:#f2f2f2;
    display: flex;
    flex-direction: column;
    height: auto;/*popular-list and housing-list will have same height*/
    padding:2rem;
    border-radius: 22px;
    flex-basis: 33%;
}

.popular-title{
    display: flex;
    justify-content: space-between;
    padding:1rem;
}

.popular-card-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    /* gap: 2rem; 没必要？*/
}

.popular-card-link{
    background-color: white;
    border-radius: 22px;
    box-shadow: 0 0 5px gray; 
    color: inherit;
}

.popular-card-link:hover{
    transform: scale(1.02);
}
    
.popular-card{
    display: flex;
    width: 100%;
    height: 10rem;
}

.popular-card img{
    width: 40%;
    height: 100%;
    border: 3px solid white;
    border-radius: 22px 0 0 22px;
    object-fit: cover;
}

.popular-card-description{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-size: 0.9rem; 
}

.ratings{
    margin-top: auto;
}
