/*Section Search-tags*/
.search-tags{
    padding: 2rem 2rem;
}
.text-details{
    margin: 20px 0; 
}
.search-bar{
    display: flex;
    padding: 1rem 0;
}
.search-bar .fa-map-marker-alt{
    padding: 1rem 1rem;
    background-color:  #f2f2f2;
    border-radius: 15px 0 0 15px;
}
.search-bar input{
    width: 15rem;
    padding: 15px;
    border: 1px solid #f2f2f2;
    overflow: hidden; /*When the browser is reduced, the search bar also becomes shorter*/
}
.search-bar input:focus{/*When clicking on the input area, the border is shaded*/
    box-shadow: 0 2px 2px 2px gray;
}
.fa-search{
    display: none;
}
.search-bar button{
    color: white;
    background-color: #0065FC;
    border: none;
    border-radius: 0 15px 15px 0; 
    padding: 15px;
    font-weight: bold;
    cursor:pointer;
}
.search-bar button:hover{/*When placing over the button, its color becomes lighter and slightly larger*/
    opacity: 0.8;
    transform: scale(1.02);
}

/*Breakpoint mobile = 350px*/
@media(max-width:350px){
    .search-bar .search-text{
        display: none;
    }
    .fa-search{
        display: inline;
        color: white;
    }
}