*{ /*Selects all elements, css declarations*/
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

/*Responsive*/
/*Breakpoint = 1135px*/
@media (max-width:1135px){
    .housing-card-list{
        gap: 1rem;
    }
}

/*Breakpoint = 960px === nav+popular+housing+ activity + footer are changed*/
@media(max-width:960px){ 
    /*menu*/
    /*屏幕缩小到960px后sub-menu下移，inscription保持在上面*/
    .sub-menu{
        flex-basis: 100%;
        order: 1;
    }  
    .sub-menu a{
        flex-basis: 50%;
        text-align: center;
        border-bottom: 0.3rem solid #DEEBFF;
    }
    .sub-menu a:hover{ /*屏幕缩小到960px后，sub-menu的蓝线下移*/
        border-top: 0.3rem solid white;
        border-bottom: 0.3rem solid #0065FC;
    }
    /*popular*/
    .popular-list{
        order: -1; 
        border-radius: 0;
    }
    .popular-card{
        flex-direction: column;
        height: 15.5rem;
    }
    .popular-card img{
        width: 100%;
        height: 10rem;
        border-radius: 22px 22px 0 0;
    }
    .popular-card-description{
        padding: 1rem;
        width: 100%;
    }
    .popular-card-list{
        gap: 1rem;
    }
    .popular-title{
        padding: 1rem 0;
    }
    /*housing*/
    #recommendation-list{
        flex-direction: column;
    }
    .housing-list{
        background-color: white;
        flex-direction: column;
    }
    .housing-card-list{
        flex-direction: column;
    }
    .housing-card-description{
        padding: 1rem; 
    }
    .housing-title{
        padding: 1rem 0;
    }
    /*activity*/
    #activities-list{
        padding: 0 2rem;
    }
    .activity-title{
        padding: 0 2rem;
    }

      /*Footer*/
      .footer-list{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .about, .service, .assistance{
        width: 100%;
    }
}

/*Breakpoint tablette = 768px === activity are changed*/
@media(max-width:768px){
    /*activity*/
    #activities-list {
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
    }
    .activities-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        height: auto;
    }
    .activities-col, .col-two, .col-four{
        width: 100%;
    }
    .activity-card-image{
       width: 100%;
       height: 10rem;
    }
}

/*Breakpoint = 350px === search bar icon is changed*/
/*popular, housing and activity's font-size are changed*/
@media(max-width:350px){
    /*Search bar*/
    .search-bar .search-text{
        display: none;
    }
    .fa-search{
        display: inline;
        color: white;
    }
    /*popular + housing + activity*/
    .popular-list, .housing-list, .activities-container{
        padding: 1rem;
    }
    .popular-card-description, .housing-card-description, .activity-card-title{
        font-size: 0.75rem;
    }
    .housing-title, .popular-title, .activity-title, .housing-list a{
        font-size: 0.9rem;
    }
    .activity-title{
        padding: 0 1rem;
    }
    /*footer*/
    .footer-list{
        font-size: 0.8rem;
    }
}

/*Breakpoint mobile = 295px === Nav bar is changed*/
@media(max-width:295px){
    /*nav*/
    #logo {
        width: 100%;
        height: 4rem;
    }
    .inscription{
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 0 auto;
    }
}

/*Breakpoint = 224px === font-size is changed*/
@media(max-width:224px){
   .sub-menu{
       font-size: 0.65rem;
   }
   .search-tags h1, p, .filter-list h2, .filter span{
       font-size: 0.75rem;
   }
   ::placeholder{
    color: transparent; /*缩小时搜索栏中的字消失*/
   }
   .housing-title, .popular-title, .activity-title, .housing-list a{
        font-size: 0.6rem;
    }
}
