/*Activité à Marseille*/
.activities-container{
    display: flex;
    flex:1 1 auto;
    padding: 2rem;
    gap: 3rem;
    height: 500px;
}

.activities h3{
 margin-left: 2rem;
 margin-top: 2rem;
}

.activities-col{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 45%;/*为什么没有casser Flex？*/
}
.activity-card{
    display: flex;
    flex:1 1 auto;
    flex-direction: column;
    border-radius: 22px;
    box-shadow: 0 0 5px;
    /*height: 100%;*/
}

.col-two{
    flex: 1 1 auto;
    gap:1rem;
}

.activity-card-image{
    height: calc(100% - 3rem);
}

.activity-card-image img{
    border-radius: 12px 12px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.activity-card-title{
    height: 3rem;
    margin: 1rem;
    font-weight: bold; 
}

.col-four{
    flex: 1 1 auto;
    gap:1rem;
}


.activity-card-60{
    height: 55%;
}

.activity-card-40{
    height: 35%;
}

.activity-card-50{
    height: 45%;
}

.activity-card:hover{
    transform: scale(1.02);
}


@media (max-width:900px){
    .activities{
        padding: 1rem;
        flex-direction: column;
    }
    .activities-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 1 auto;
        gap: 2rem;
    }
   
    .activities-col, .col-two, .col-four{
        width: 100%;
    }

    .activity-card-image{
       width: 100%;
       height: 12rem;
       object-fit:cover;
    }
}

