/*La liste des filtres*/
.filter-list{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

.filter{
    border: 2px solid #f2f2f2;
    border-radius:2rem;
    display: flex;
    align-items: center;   
}

.filter:hover{
    cursor: pointer;
    background-color: #f2f2f2;
    transform: scale(1.1);
}

.filter span{
    font-weight: bold;
    padding: 0 1rem;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{
    color: #0065FC;
    background-color: #DEEBFF;
    width: 3rem;
    height: 3rem;
    padding: 1rem;
    border-radius: 50%; /*a cercle*/
    margin: -2px;/*Hide the light gray border outside the circle / 隐藏圆形外的浅灰色边框*/
}

/*information + icon info*/
.information{
    display: flex;
    align-items: center;
    padding: 1rem 0 0 0;
    gap:1rem;
}

.information p{
    font-size: 0.8rem;
}

.fa-info{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    color:#0065FC;
    border: 2px solid #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
}
