/*Menu*/
#logo{
    margin-right: auto;
    padding: 0 2rem; /*top+bottom=0, left+right=1rem*/
} 

nav a{
    color: inherit;/*une propriété prenne la valeur calculée de la propriété pour l'élément parent*/
    padding: 2rem; 
    border-top: 0.3rem solid white;
    /*如果不加这个，当鼠标移动到菜单上时，会使得logo下沉晃动一下，因此要与nav a:hover的宽度保持一致，但是又要凸显蓝色*/
}

nav a:hover{
    border-top: 0.3rem solid #0065FC;
    color: #0065FC;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;/**/
    flex-wrap: wrap;
}

.sub-menu{
    display: flex; /*liens par défaut = block*/
}

.inscription{
    color: #0065FC;
    font-weight: bold;  
}
