/*Menu*/
#logo{
    margin-right: auto;
    padding: 0 2rem; /*top+bottom=0, left+right=1rem*/
} 

nav a{
    color: inherit;/*une propriété prenne la valeur calculée de la propriété pour l'élément parent*/
    padding: 2rem; 
    border-top: 0.3rem solid white;
    /*如果不加这个，当鼠标移动到菜单上时，会使得logo下沉晃动一下，因此要与nav a:hover的宽度保持一致，但是又要凸显蓝色*/
}

nav a:hover{
    border-top: 0.3rem solid #0065FC;
    /*由于之前已经定义了width和style，这里可以只写color，前两个valeur可以省略*/
    color: #0065FC;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;/**/
    flex-wrap: wrap;
}

.sub-menu{
    display: flex; /*liens par défaut = block*/
}

.inscription{
    color: #0065FC;
    font-weight: bold;  
}

@media(max-width:900px){ /*屏幕缩小到900px后sub-menu下移，inscription保持在上面*/
    .sub-menu{
        flex-basis: 100%;
        order: 1;
    }  
    .sub-menu a{
        flex-basis: 50%;
        text-align: center;
        border-bottom: 0.3rem solid #DEEBFF;
    }
    .sub-menu a:hover{ /*屏幕缩小到900px后，sub-menu的蓝线下移*/
        border-top: 0.3rem solid white;
        border-bottom: 0.3rem solid #0065FC;
    }
}