/*Les plus polulaires*/
.popular-title{
    display: flex;
    justify-content: space-between;
    padding:1rem;
}

.popular-list{
    background-color: #f2f2f2;
    height: 100%;/*原先的第三个图片尺寸很大，设定后与前两个尺寸一样*/
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    border-radius: 22px;
}
.popular-card{
    width: 100%;
    height: 10rem;
    display: flex;
    flex-basis: 33.5%; /*缩小时，三个cartes占满整个liste的高度*/
    padding: 0.3rem;
    margin: 1rem auto;
    background-color: white;
    border-radius: 22px;
    box-shadow: 0 0 10px;/*offset-x | offset-y | blur-radius*/
}

.popular-card:hover{
    transform: scale(1.02);
}

.popular-card img{
    width: 40%;
    border-radius: 22px 0 0 12px;
    object-fit: cover;
}

.popular-card-description{
    flex-direction: column;
    padding: 1rem; 
    flex-basis: 100%; /*图片尺寸由大小不一变成一样大*/
}

@media(max-width:900px){
    .popular{
        order: -1; 
    }
    .popular-list{
        border-radius: 0;
    }

    .popular-card img{
        height: 16rem; /*缩小后，图片尺寸高度相同*/
    }
}