*{ /*Selects all elements, css declarations*/
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/*Menu*/
#logo{
    margin-right: auto;
    padding: 0 2rem; /*top+bottom=0, left+right=1rem*/
} 

nav a{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: inherit;/*une propriété prenne la valeur calculée de la propriété pour l'élément parent*/
    padding: 2rem; 
    border-top: 0.3rem solid white;
    /*如果不加这个，当鼠标移动到菜单上时，会使得logo下沉晃动一下，因此要与nav a:hover的宽度保持一致，但是又要凸显蓝色*/
}

nav a:hover{
    border-top: 0.3rem solid #0065FC;
    /*由于之前已经定义了width和style，这里可以只写color，前两个valeur可以省略*/
    color: #0065FC;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;/**/
    flex-wrap: wrap;
}

.sub-menu{
    display: flex; /*liens par défaut = block*/
}

.inscription{
    color: #0065FC;
    font-weight: bold;  
}

@media(max-width:900px){ /*屏幕缩小到900px后sub-menu下移，inscription保持在上面*/
    .sub-menu{
        flex-basis: 100%;
        order: 1;
    }  
    .sub-menu a{
        flex-basis: 50%;
        text-align: center;
        border-bottom: 0.3rem solid #DEEBFF;
    }
    .sub-menu a:hover{ /*屏幕缩小到900px后，sub-menu的蓝线下移*/
        border-top: 0.3rem solid white;
        border-bottom: 0.3rem solid #0065FC;
    }
}

/*Section Search-tags*/
.search-tags{
    padding: 2rem 2rem;
}

.search-tags h1, p{
    font-family:'Raleway', sans-serif;
}

.search-bar{
display: flex;
padding: 1rem 0;
}


.search-bar .fa-map-marker-alt{
    padding: 1rem 1rem;
    background-color:  #f2f2f2;
    border-radius: 15px 0 0 15px;
}

.search-bar input{
    width: 15rem;
    padding: 15px;
    font-family: 'Raleway', sans-serif;
    border: 1px solid #f2f2f2;
    overflow: hidden; /*缩小浏览器时，搜索栏也一起变短*/
}

.search-bar input:focus{/*Lorsqu'on clique sur la zone input, la bordure est ombrée */
    box-shadow: 0 3px 3px 3px gray;
}

.fa-search{
    display: none;
}

.search-bar button{
    color: white;
    background-color: #0065FC;
    border: none;
    border-radius: 0 15px 15px 0; 
    padding: 15px;
    font-family:'Raleway', sans-serif;
    font-weight: bold;
    cursor:pointer;
}

.search-bar button:hover{/*Lorsque la souris est placée sur le bouton, la couleur du bouton devient plus claire et légèrement plus grande */
    opacity: 0.8;
    transform: scale(1.02);
}

@media(max-width:410px){
.search-bar .search-text{
    display: none;
}
.fa-search{
    display: inline;
    color: white;
}

::placeholder {
    color: transparent; /*缩小时搜索栏中的字消失*/
}
}


/*filter*/
.filter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


@media(max-width:440px){

    .search-bar button{
        
    }

    .filter{
        display: flex;
        flex-direction: column;
        
    }
}